footer a:hover {
  color: #c81623;
}
footer .mod-service {
  padding: 30px 0;
  border-bottom: 1px solid #dedede;
}
footer .mod-service .service-list {
  overflow: hidden;
  height: 42px;
}
footer .mod-service .service-list .service-item {
  width: 297px;
  float: left;
}
footer .mod-service .service-list .service-item .service-unit {
  position: relative;
  width: 180px;
  padding-left: 45px;
  margin: 0 auto;
}
footer .mod-service .service-list .service-item .service-unit .service-tit {
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 42px;
  text-indent: -999px;
  background: url(../images/dkhs.png) no-repeat;
  background-size: 113px 86.5px;
  overflow: hidden;
}
footer .mod-service .service-list .service-item .service-unit .service-tit.icon-duo {
  background-position: 0 0;
}
footer .mod-service .service-list .service-item .service-unit .service-tit.icon-kuai {
  background-position: -38.5px 0;
}
footer .mod-service .service-list .service-item .service-unit .service-tit.icon-hao {
  background-position: -77px 0;
}
footer .mod-service .service-list .service-item .service-unit .service-tit.icon-sheng {
  background-position: 0px -44.5px;
}
footer .mod-service .service-list .service-item .service-unit .service-txt {
  width: 100%;
  height: 42px;
  line-height: 42px;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 18px;
  overflow: hidden;
}
footer .mod-help {
  padding: 20px 0;
}
footer .mod-help .help-list {
  overflow: hidden;
  height: 160px;
}
footer .mod-help .help-list .help-nav {
  float: left;
  width: 198px;
  line-height: 22px;
}
footer .mod-help .help-list .help-nav .help-tit {
  font-size: 14px;
}
footer .mod-help .help-list .help-cover {
  float: right;
  width: 200px;
  height: 150px;
}
footer .mod-help .help-list .help-cover .help-tit {
  margin-bottom: 15px;
  font-size: 14px;
  text-align: center;
}
footer .mod-help .help-list .help-cover .help-cover-con {
  padding: 0 10px;
}
footer .mod-help .help-list .help-cover .help-cover-con p:last-child {
  text-align: right;
}
footer .mod-copyright .copyright-inner {
  padding: 15px 0px;
  border-top: 1px solid #e1e1e1;
  text-align: center;
}
footer .mod-copyright .copyright-inner .copyright-split {
  margin: 0 10px;
  color: #ccc;
}
footer .mod-copyright .copyright-inner .mod_copyright_split {
  margin: 0 10px;
  color: #ccc;
}
footer .mod-copyright .copyright-inner .copyright_info {
  padding: 10px 0;
  color: #999;
  line-height: 22px;
}
footer .mod-copyright .copyright-inner .copyright_info .copyright_inter .inter-ico {
  display: inline-block;
  width: 15px;
  height: 12px;
  vertical-align: -1px;
  background: url(../images/dkhs.png) no-repeat;
  background-size: 113px 86.5px;
  margin-right: 10px;
}
footer .mod-copyright .copyright-inner .copyright_info .copyright_inter .inter-ico.global {
  background-position: -38.5px -44.5px;
}
footer .mod-copyright .copyright-inner .copyright_info .copyright_inter .inter-ico.rissia {
  background-position: -56px -44.5px;
}
footer .mod-copyright .copyright-inner .copyright_info .copyright_inter .inter-ico.indonesia {
  background-position: -73.5px -44.5px;
}
footer .mod-copyright .copyright-inner .copyright_info .copyright_inter .inter-ico.spain {
  background-position: -91.5px -44.5px;
}
footer .mod-copyright .copyright-inner .copyright_info .copyright_inter .inter-ico.thailand {
  background-position: -38.5px -58.5px;
}
footer .mod-copyright .copyright-inner .copyright_auth {
  margin: 25px 0;
}
footer .mod-copyright .copyright-inner .copyright_auth .auth-ico {
  overflow: hidden;
  display: inline-block;
  width: 103px;
  height: 32px;
  line-height: 1000px;
  background: url(../images/footer.png) no-repeat;
  margin: 0 3px;
}
footer .mod-copyright .copyright-inner .copyright_auth .auth-ico.ico1 {
  background-position: -205px -113px;
}
footer .mod-copyright .copyright-inner .copyright_auth .auth-ico.ico2 {
  background-position: -205px -76px;
}
footer .mod-copyright .copyright-inner .copyright_auth .auth-ico.ico3 {
  background-position: -205px -39px;
}
footer .mod-copyright .copyright-inner .copyright_auth .auth-ico.ico4 {
  background-position: -205px 0;
}
footer .mod-copyright .copyright-inner .copyright_auth .auth-ico.ico5 {
  background-position: 0 -156px;
}
footer .mod-copyright .copyright-inner .copyright_auth .auth-ico.ico6 {
  background-position: -205px -150px;
}
