#container a {
  color: #999;
}
#container a:hover {
  color: #c81623 !important;
}
#container #shortcut {
  background-color: #e3e4e5;
  border-bottom: 1px solid #ddd;
  z-index: -1;
}
#container #shortcut .w {
  height: 30px;
  line-height: 30px;
}
#container #shortcut .w .fl {
  margin-left: 10px;
}
#container #shortcut .w .fr .dropdown-layer {
  position: absolute;
  top: 30px;
  display: none;
  border: 1px solid #ccc;
  border-top: transparent;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  z-index: 9;
}
#container #shortcut .w .fr li {
  float: left;
  position: relative;
  border: 1px solid #e3e4e5;
}
#container #shortcut .w .fr li:hover#ttbar-myjd,
#container #shortcut .w .fr li:hover#company,
#container #shortcut .w .fr li:hover#ttbar-serv,
#container #shortcut .w .fr li:hover#ttbar-navs {
  background-color: #fff;
  border: 1px solid #ccc;
}
#container #shortcut .w .fr li:hover .dropdown-layer {
  display: block;
}
#container #shortcut .w .fr li .dd {
  line-height: 24px;
}
#container #shortcut .w .fr li .iconfont {
  font-size: 12px;
  font-weight: 700;
}
#container #shortcut .w .fr li.spacer {
  width: 1px;
  height: 10px;
  margin: 11px 5px 0;
  background-color: #ccc;
}
#container #shortcut .w .fr li.ttbar-login {
  margin-right: 8px;
}
#container #shortcut .w .fr li#ttbar-myjd .dropdown-layer {
  left: -1px;
  width: 280px;
}
#container #shortcut .w .fr li#ttbar-myjd .dropdown-layer .fore1,
#container #shortcut .w .fr li#ttbar-myjd .dropdown-layer .fore2 {
  float: left;
  width: 126px;
}
#container #shortcut .w .fr li#ttbar-myjd .dropdown-layer .myjdlist {
  padding: 10px 0 10px 15px;
  overflow: hidden;
}
#container #shortcut .w .fr li#ttbar-myjd .dropdown-layer .myjdlist_2 {
  border-top: 1px solid #f1f1f1;
}
#container #shortcut .w .fr li#company .dropdown-layer {
  left: -1px;
  width: 140px;
  padding: 10px 0 10px 15px;
}
#container #shortcut .w .fr li#company .dropdown-layer .item {
  display: inline-block;
  width: 56px;
  white-space: nowrap;
}
#container #shortcut .w .fr li#ttbar-serv .dropdown-layer {
  right: -1px;
  width: 175px;
  padding: 10px 0;
}
#container #shortcut .w .fr li#ttbar-serv .dropdown-layer .item-client,
#container #shortcut .w .fr li#ttbar-serv .dropdown-layer .item-business {
  padding-left: 15px;
  font-weight: 700;
}
#container #shortcut .w .fr li#ttbar-serv .dropdown-layer .item-business {
  margin-top: 5px;
  padding-top: 5px;
  border-top: 1px dotted #eee;
}
#container #shortcut .w .fr li#ttbar-serv .dropdown-layer .item {
  display: inline-block;
  width: 70px;
  padding-left: 15px;
}
#container #shortcut .w .fr li#ttbar-navs .dd {
  right: -77px;
  width: 1188px;
  padding: 15px 0;
}
#container #shortcut .w .fr li#ttbar-navs .dd dl {
  float: left;
  padding-left: 20px;
}
#container #shortcut .w .fr li#ttbar-navs .dd dt {
  margin-bottom: 5px;
  font-weight: 700;
  color: #666;
}
#container #shortcut .w .fr li#ttbar-navs .dd .item {
  overflow: hidden;
  float: left;
  width: 85px;
  white-space: nowrap;
}
#container #shortcut .w .fr li#ttbar-navs .dd .fore1 {
  width: 340px;
}
#container #shortcut .w .fr li#ttbar-navs .dd .fore2,
#container #shortcut .w .fr li#ttbar-navs .dd .fore3,
#container #shortcut .w .fr li#ttbar-navs .dd .fore4 {
  width: 255px;
}
#container #shortcut .w .fr li#jd-mobile {
  position: relative;
}
#container #shortcut .w .fr li#jd-mobile:hover .mobile_pop {
  display: block;
}
#container #shortcut .w .fr li#jd-mobile .mobile_static {
  position: absolute;
  top: 30px;
  left: -12px;
  width: 76px;
  height: 76px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
#container #shortcut .w .fr li#jd-mobile .mobile_static .static-qrcode {
  width: 66px;
  height: 66px;
  margin: 5px 5px;
  background: url("../images/qrcode1.png") 50% no-repeat;
  background-size: 60px;
}
#container #shortcut .w .fr li#jd-mobile .mobile_pop {
  z-index: 9;
  display: none;
  position: absolute;
  right: 0;
  left: auto;
  top: 30px;
  width: 190px;
  border: 1px solid #cfcfcf;
  border-bottom: 3px solid #60575a;
  background-color: #fff;
}
#container #shortcut .w .fr li#jd-mobile .mobile_pop::before {
  content: "";
  position: absolute;
  right: 23px;
  top: -10px;
  border: 5px solid transparent;
  border-bottom: 5px solid #fff;
}
#container #shortcut .w .fr li#jd-mobile .mobile_pop .mobile-pop-item {
  position: relative;
  padding: 15px 0;
  border-bottom: 1px solid #e7e7e7;
}
#container #shortcut .w .fr li#jd-mobile .mobile_pop .mobile-pop-item .qrcode {
  position: absolute;
  left: 5px;
  top: 14px;
  width: 74px;
  height: 74px;
  border: 1px solid #ccc;
  background-color: #f7f7f7;
}
#container #shortcut .w .fr li#jd-mobile .mobile_pop .mobile-pop-item .qrcode img {
  width: 70px;
  height: 70px;
  margin: 2px 0 0 2px;
  border: 0;
  vertical-align: middle;
}
#container #shortcut .w .fr li#jd-mobile .mobile_pop .mobile-pop-item .qrcode-info {
  margin: 0 10px 0 86px;
  min-height: 70px;
}
#container #shortcut .w .fr li#jd-mobile .mobile_pop .mobile-pop-item .qrcode-info .mobile-pop-tit {
  line-height: 17px;
}
#container #shortcut .w .fr li#jd-mobile .mobile_pop .mobile-pop-item .qrcode-info .mobile-pop-tit a:hover {
  color: #999;
}
#container #shortcut .w .fr li#jd-mobile .mobile_pop .mobile-pop-item .qrcode-info .mobile-value {
  color: #f10215;
  margin: 3px 0;
  line-height: 14px;
}
#container #shortcut .w .fr li#jd-mobile .mobile_pop .mobile-pop-item .qrcode-info .mobile-device {
  height: 25px;
  overflow: hidden;
}
#container #shortcut .w .fr li#jd-mobile .mobile_pop .mobile-pop-item .qrcode-info .mobile-device .device {
  float: left;
  width: 25px;
  height: 25px;
  text-indent: -1px;
  margin-right: 2px;
  background: url("../images/sprite_mobile@2x.png");
  background-size: 25px 77px;
}
#container #shortcut .w .fr li#jd-mobile .mobile_pop .mobile-pop-item .qrcode-info .mobile-device .device.ios {
  background-position: 0 0;
}
#container #shortcut .w .fr li#jd-mobile .mobile_pop .mobile-pop-item .qrcode-info .mobile-device .device.and {
  background-position: 0 -25px;
}
#container #shortcut .w .fr li#jd-mobile .mobile_pop .mobile-pop-item .qrcode-info .mobile-device .device.pad {
  background-position: 0 -50px;
}
#container #header {
  background-color: #fff;
  border-bottom-style: 10px solid #c52b2b;
}
#container #header .w {
  height: 140px;
  position: relative;
}
#container #header .w #logo {
  position: absolute;
  top: 10px;
  left: 0;
  width: 190px;
  height: 120px;
}
#container #header .w #logo .logo-tit {
  width: 100%;
  height: 100%;
}
#container #header .w #logo .logo-tit .logo-tit-lk {
  display: block;
  width: 134px;
  height: 120px;
  background: url("../images/jd_logo.png") no-repeat;
  background-size: 190px 160px;
}
#container #header .w #search.fixed {
  position: fixed;
  top: 0px;
  left: 0;
  z-index: 100;
  width: 100%;
  border-bottom: 2px solid #f10214;
  background-color: #fff;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  transform: translateY(0);
  animation: slider 0.8s ease-in-out;
}
@keyframes slider {
  from {
    transform: translateY(-100%);
  }
}
#container #header .w #search .search-m {
  position: relative;
  height: 60px;
}
#container #header .w #search .search-m .mini-logo {
  position: absolute;
  top: 4px;
  left: 0;
  display: none;
}
#container #header .w #search .search-m .mini-logo a {
  background: url(../images/jd_logo.png) no-repeat;
  background-size: 190px 160px;
  background-position: 0 -120px;
  display: block;
  width: 125px;
  height: 40px;
  overflow: hidden;
  text-indent: -999px;
}
#container #header .w #search .search-m .form {
  position: absolute;
  top: 25px;
  left: 260px;
  width: 546px;
  height: 32px;
  border: 2px solid #e2231a;
}
#container #header .w #search .search-m .form input {
  width: 425px;
  height: 26px;
  padding: 2px 44px 2px 17px;
  border: 1px solid #fff;
  outline: none;
  line-height: 26px;
  top: 0;
  left: 0;
  color: #666;
}
#container #header .w #search .search-m .form .photo-search-btn {
  position: absolute;
  width: 19px;
  height: 15px;
  top: 10px;
  right: 75px;
}
#container #header .w #search .search-m .form .photo-search-btn:hover .icon-xiangji {
  color: #c81623;
}
#container #header .w #search .search-m .form .photo-search-btn .icon-xiangji {
  display: block;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 14px;
  color: #9f9f9f;
  font-size: 20px;
  cursor: pointer;
}
#container #header .w #search .search-m .form .photo-search-btn .photo-search-login {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#container #header .w #search .search-m .form .search-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 58px;
  height: 32px;
  line-height: 32px;
  font-size: 20px;
  background-color: #e1251b;
  border: none;
  transition: background 0.3s ease;
  cursor: pointer;
}
#container #header .w #search .search-m .form .search-btn:hover {
  background-color: #c81623;
}
#container #header .w #search .search-m .form .search-btn .icon-sousuo1 {
  color: #fff;
}
#container #header .w #search .search-m .settleup {
  position: absolute;
  right: 230px;
  top: 25px;
}
#container #header .w #search .search-m .settleup .cart {
  width: 130px;
  height: 34px;
  line-height: 34px;
  float: left;
  border: 1px solid #eee;
  text-align: center;
}
#container #header .w #search .search-m .settleup .cart .icon-_shop {
  font-size: 16px;
  margin-right: 13px;
}
#container #header .w #search .search-m .settleup .cart .icon-_shop,
#container #header .w #search .search-m .settleup .cart a {
  color: #e1251b;
}
#container #header .w #search .search-m .settleup .cart .ci-count {
  position: absolute;
  top: 1px;
  left: 31px;
  display: inline-block;
  background-color: #e1251b;
  border-radius: 7px;
  color: #fff;
  font-size: 12px;
  line-height: 12px;
  padding: 1px 3px;
  min-width: 12px;
  font-style: normal;
}
#container #header .w #search .search-m .settleup .cart:hover {
  border-color: #c81623;
}
#container #header .w #hotwords .hotwords {
  position: absolute;
  top: 65px;
  left: 260px;
  width: 550px;
  height: 20px;
  line-height: 20px;
}
#container #header .w #hotwords .hotwords .red {
  text-overflow: ellipsis;
  white-space: nowrap;
}
#container #header .w #hotwords .hotwords a {
  float: left;
  margin-right: 10px;
}
#container #header .w #navitems {
  position: absolute;
  bottom: 0;
  left: 203px;
  height: 40px;
  line-height: 40px;
  padding-top: 20px;
}
#container #header .w #navitems .navitems {
  overflow: hidden;
}
#container #header .w #navitems .navitems li {
  float: left;
  margin-left: 1px;
}
#container #header .w #navitems .navitems li a {
  font-size: 15px;
  margin: 0 11px;
  display: block;
  height: 40px;
  color: #333;
}
#container #header .w #navitems .navitems li a.font-style {
  color: #e1251b;
  font-weight: 700;
}
#container #fs .fs {
  z-index: 1;
  height: 480px;
  background-color: #f4f4f4;
}
#container #fs .fs .fs-col1,
#container #fs .fs .fs-col2 {
  float: left;
  margin-right: 10px;
}
#container #fs .fs .fs-col1 {
  width: 190px;
}
#container #fs .fs .fs-col1 .left .menu {
  margin-top: 10px;
  padding: 10px 0;
  background-color: #fefefe;
  height: 450px;
}
#container #fs .fs .fs-col1 .left .menu .menu-item {
  height: 25px;
  line-height: 25px;
  padding-left: 18px;
}
#container #fs .fs .fs-col1 .left .menu .menu-item:hover {
  background-color: #d9d9d9;
}
#container #fs .fs .fs-col1 .left .menu .menu-item .menu-item-lk {
  color: #333;
  font-size: 14px;
  transition: background-color 0.2s ease;
}
#container #fs .fs .fs-col1 .left .menu .menu-item .menu-item-lk:hover {
  color: #c81623;
}
#container #fs .fs .fs-col1 .left .menu .menu-item .item-line {
  padding: 0 2px;
}
#container #fs .fs .fs-col2 {
  width: 790px;
  height: 470px;
  margin-top: 10px;
}
#container #fs .fs .fs-col2 button {
  z-index: 99;
}
#container #fs .fs .fs-col2 button i {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  color: rgba(255, 255, 255, 0.8);
}
#container #fs .fs .fs-col2 button.slider-btn {
  width: 25px;
  height: 35px;
  line-height: 35px;
  position: absolute;
  top: calc(50% - 35px / 2);
  background: rgba(0, 0, 0, 0.15);
  font-size: 20px;
  cursor: pointer;
}
#container #fs .fs .fs-col2 button.btn-prev {
  left: 0px;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}
#container #fs .fs .fs-col2 button.btn-prev i {
  left: -3px;
}
#container #fs .fs .fs-col2 button.btn-next {
  right: 0px;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
}
#container #fs .fs .fs-col2 button.btn-next i {
  right: -3px;
}
#container #fs .fs .fs-col2 .banner {
  width: 590px;
  float: left;
  margin-right: 10px;
}
#container #fs .fs .fs-col2 .banner .slider-banner {
  position: relative;
  height: 470px;
}
#container #fs .fs .fs-col2 .banner .slider-banner .slider-list .slider-wrapper {
  position: relative;
  width: 590px;
  transition: left 0.3s linear;
}
#container #fs .fs .fs-col2 .banner .slider-banner .slider-list .slider-wrapper .slider-item {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 590px;
  transition: opacity 0.3s linear;
}
#container #fs .fs .fs-col2 .banner .slider-banner .slider-list .slider-wrapper .slider-item.active {
  opacity: 1;
}
#container #fs .fs .fs-col2 .banner .slider-banner .slider-list .slider-wrapper .slider-item .banner-item {
  margin-right: 10px;
}
#container #fs .fs .fs-col2 .banner .slider-banner .slider-list .slider-wrapper .slider-item .banner-item .banner-item-img {
  width: 590px;
  height: 470px;
}
#container #fs .fs .fs-col2 .banner .circle {
  position: absolute;
  left: 30px;
  bottom: 20px;
}
#container #fs .fs .fs-col2 .banner .circle .point {
  float: left;
  width: 10px;
  height: 10px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  margin-right: 8px;
  cursor: pointer;
}
#container #fs .fs .fs-col2 .banner .circle .on {
  background-color: #fff;
}
#container #fs .fs .fs-col2 .recommend {
  float: right;
  width: 190px;
}
#container #fs .fs .fs-col2 .recommend .slider-recommend {
  position: relative;
  height: 470px;
}
#container #fs .fs .fs-col2 .recommend .slider-recommend .slider-wrapper {
  height: 470px;
}
#container #fs .fs .fs-col2 .recommend .slider-recommend .slider-wrapper .slider-item {
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
#container #fs .fs .fs-col2 .recommend .slider-recommend .slider-wrapper .slider-item .recommend-item {
  display: block;
  width: 190px;
  height: 150px;
  margin-bottom: 10px;
}
#container #fs .fs .fs-col2 .recommend .slider-recommend .slider-wrapper .slider-item .recommend-item .recommend-item-img {
  width: 100%;
  height: 100%;
}
#container #fs .fs .fs-col2 .recommend .slider-recommend .slider-wrapper .active {
  opacity: 1;
}
#container #fs .fs .fs-col3 {
  position: relative;
  width: 190px;
  height: 480px;
  z-index: 1;
  float: right;
}
#container #fs .fs .fs-col3 #user {
  height: 102px;
  background-color: #fff;
  margin-top: 10px;
  position: relative;
}
#container #fs .fs .fs-col3 #user::after {
  position: absolute;
  content: "";
  height: 1px;
  bottom: 0;
  left: 15px;
  right: 15px;
  background: linear-gradient(270deg, white, #eeeeee, #eeeeee, white);
}
#container #fs .fs .fs-col3 #user .user-inner {
  position: relative;
  padding-top: 67px;
  height: 35px;
}
#container #fs .fs .fs-col3 #user .user-inner .jd-logo {
  position: absolute;
  top: 13px;
  left: 20px;
  width: 44px;
  height: 44px;
}
#container #fs .fs .fs-col3 #user .user-inner .jd-logo a,
#container #fs .fs .fs-col3 #user .user-inner .jd-logo img {
  width: 44px;
  height: 44px;
  display: block;
}
#container #fs .fs .fs-col3 #user .user-inner .jd-logo img {
  border: 1px solid #fff;
  border-radius: 50%;
}
#container #fs .fs .fs-col3 #user .user-inner .user-show {
  position: absolute;
  top: 16px;
  left: 74px;
  right: 10px;
}
#container #fs .fs .fs-col3 #user .user-inner .user-show a {
  color: #666;
}
#container #fs .fs .fs-col3 #user .user-inner .user-show p {
  width: 100%;
  height: 20px;
  line-height: 20px;
  color: #666;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#container #fs .fs .fs-col3 #user .user-inner .user-show p a {
  color: #333;
}
#container #fs .fs .fs-col3 #user .user-inner .user-profit {
  height: 25px;
  text-align: center;
}
#container #fs .fs .fs-col3 #user .user-inner .user-profit a {
  display: inline-block;
  width: 70px;
  margin: 0 5px;
  line-height: 25px;
  height: 25px;
  border-radius: 13px;
  background-color: #e1251b;
  transition: background 0.3s ease, color 0.3s ease;
  color: #fff;
}
#container #fs .fs .fs-col3 #user .user-inner .user-profit a:last-child {
  background-color: #363634;
  color: #e5d790;
}
#container #fs .fs .fs-col3 #user .user-inner .user-profit a:hover {
  background-color: #f10215;
  color: #fff !important;
}
#container #fs .fs .fs-col3 #news {
  height: 130px;
  background-color: #fff;
  position: relative;
}
#container #fs .fs .fs-col3 #news::after {
  position: absolute;
  content: "";
  height: 1px;
  bottom: -5px;
  left: 15px;
  right: 15px;
  background: linear-gradient(270deg, white, #eeeeee, #eeeeee, white);
}
#container #fs .fs .fs-col3 #news .news {
  height: 130px;
  position: relative;
}
#container #fs .fs .fs-col3 #news .news .news-hd {
  height: 20px;
  line-height: 20px;
  padding-top: 10px;
  margin-bottom: 8px;
}
#container #fs .fs .fs-col3 #news .news .news-hd h5 {
  display: inline-block;
  font-size: 14px;
  margin-left: 15px;
}
#container #fs .fs .fs-col3 #news .news .news-hd a {
  position: absolute;
  right: 15px;
  top: 10px;
}
#container #fs .fs .fs-col3 #news .news .news-hd a i {
  font-size: 12px;
}
#container #fs .fs .fs-col3 #news .news .news-list {
  height: 88px;
  margin: 0 15px;
}
#container #fs .fs .fs-col3 #news .news .news-list .news-item {
  max-width: 160px;
  height: 16px;
  line-height: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 8px;
}
#container #fs .fs .fs-col3 #news .news .news-list .news-item .news-lk {
  color: #666;
}
#container #fs .fs .fs-col3 #news .news .news-list .news-item .news-lk .news-tag {
  display: inline-block;
  width: 35px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  color: #e1251b;
  background-color: rgba(225, 37, 27, 0.08);
  margin-right: 6px;
}
#container #fs .fs .fs-col3 #service {
  height: 238px;
}
#container #fs .fs .fs-col3 #service .service-entry {
  padding: 5px 0.5px;
  background-color: #fff;
}
#container #fs .fs .fs-col3 #service .service-entry .service-list {
  height: 220px;
  padding-top: 10px;
}
#container #fs .fs .fs-col3 #service .service-entry .service-list .service-item {
  float: left;
  width: 63px;
  height: 55px;
  text-align: center;
}
#container #fs .fs .fs-col3 #service .service-entry .service-list .service-item a {
  color: #666;
}
#container #fs .fs .fs-col3 #service .service-entry .service-list .service-item a:hover span {
  color: #e1251b;
}
#container #fs .fs .fs-col3 #service .service-entry .service-list .service-item a:hover img {
  background-color: #e1251b;
}
#container #fs .fs .fs-col3 #service .service-entry .service-list .service-item a img {
  display: block;
  width: 28px;
  height: 28px;
  margin: 0 auto;
}
#container #fs .fs .fs-col3 #service .service-entry .service-list .service-item a span {
  display: block;
  height: 25px;
  line-height: 25px;
  color: #333;
}
